html, body, .row, .large-8, #map-canvas { 
  height: 100%; 
}

#map-canvas img {
  max-width: none;
}

li form {
  min-width: 300px;
}

.top_bar_select {
  padding-top:3px;
}

.top_bar_text {
  color: white;
}

.max-width {
  max-width: none;
}