{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block head %}
  <script src="{{ url_for('static', filename='js/base.js') }}"></script>
  <script>
    $(function() {
    var availableTags = [
    "Argentina (ARS)",
    "Australia (AUD)",
    "Brazil (BRL)",
    "Bahamas (BSD)",
    "Canada (CAD)",
    "Switzerland (CHF)",
    "China (CNY)",
    "EuroZone (EUR)",
    "Great Britain (GBP)",
    "India (INR)",
    "Jamaica (JMD)",
    "Japan (JPY)",
    "Mexico (MXN)",
    "Russia (RUB)",
    "Thailand (THB)",
    "United States (USD)"
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  });
  </script>
{% endblock %}

{% block body %}
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><a href="#">Currency Hop</a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="name">
          <h1 class="top_bar_text">Home Currency</h1>
        </li>
        <li class="has-form">
          <div class="row collapse top_bar_select">
            <select id="fromCurr">
                <option value="USD">USA (USD)</option>
                <option value="EUR">EuroZone (EUR)</option>
                <option value="CAD">Canada (CAD)</option>
            </select>
          </div>
        </li>
        <li class="has-form">
          <div class="row collapse">
            <div class="large-8 small-9 columns">
              <input id="tags" type="text" placeholder="Search a Currency">
            </div>
            <div class="large-4 small-3 columns">
              <a id="search" class="alert button expand">Search</a>
            </div>
          </div>
        </li>
      </ul>

      <!-- Left Nav Section -->
      <ul class="left">
      </ul>
    </section>
  </nav>
  <div class="row max-width">
    <div class="large-8 columns">
      <div id="map-canvas"></div>
    </div>
    <div class="large-4 columns">
      <div id="statplot" class="large-12 columns">
        <h2 id="chartTitle"></h2>
      </div>
      <div id="cities" class="large-12 columns">
        <h2 id="countryName"></h2>
      </div>
    </div>
  </div>
  <static src="{{ url_for('static', filename='js/base.js') }}"></script>
{% endblock %}

